body {
  padding: 0;
  margin: 0;
  background-color: #191919;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin-bottom: -15px;
}

h1 .rhythm-text {
  color: white;
  font-weight: lighter;
  font-family: "Comic Sans MS";
}

h1 .lux-text {
  color: #ff87c6;
  font-family: "Comic Sans MS";
}

.rhythm-svg {
  height: 100px;
  width: 100px;
  margin-bottom: -30px;
}

@media (min-width: 768px) {
  .rhythm-svg {
    width: 300px;
    height: 300px;
    margin-bottom: -100px;
  }
  .logo {
    margin-bottom: -65px;
  }
  h1 {
    font-size: 100px;
  }

  .buttons button {
    height: 100px;
    font-size: 50px;
  }
}

nav {
  background-color: #333;
  overflow: hidden;
  text-align: center; 
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block; 
}

li {
  display: inline;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
}

#container {
  text-align: left;
  background-color: #231f20;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px #fff;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

select {
  padding: 15px;
  margin: 10px;
  width: 200px;
  font-size: 20px;
  margin-bottom: 20px;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}


#buttons {
  text-align: center;
}
